.skills {
    padding: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: #1e1e1e; /* Dark grey background */
}

.skills-overlay {
    /* background-color: rgba(0, 0, 0, 0.7); */ /* Semi-transparent overlay */
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
}

.slick-slider {
    .slick-prev, .slick-next {
        color: #ffcc00; /* Gold color for navigation arrows */
        z-index: 1;
    }

    .slick-dots {
        bottom: -30px;

        li button:before {
            font-size: 12px;
            color: #ffcc00; /* Gold color for dots */
        }

        li.slick-active button:before {
            color: #ffcc00; /* Highlighted dot color */
        }
    }
}

.skill-card {
    background: linear-gradient(135deg, #3d3c3c 0%, #1e1e1e 100%); 
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #eae0e0; /* Light grey color for text */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.skill-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: #ffcc00; /* Gold color for headings */
}

.skill-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: #eae0e0; /* Light grey color for text */
}
